<%= bootstrap_form_tag(url: {action: :usage}, id: 'graph_time' ) do |f| %>
  <%= modal(id: 'graph-time-modal', size: :xl, aria_labelled_by: 'graph-time-title', content: { class: ["#{'bg-dark' if @dark_mode}"] }) do %>
    <%= modal_header(close: @dark_mode ? 'light' : true) do %>
      <%= modal_title(id: 'graph-time-title') do %>
        <%= _('Filters') %>
      <% end # modal_title %>
    <% end # modal_header %>
    <%= modal_body do %>
      <fieldset>
        <legend><%= _('Select Device') %></legend>
          <%= f.form_group(class: 'row') do %>
            <%= f.select(:device_id, options_for_select(@current_account_or_token.devices.portal_visible.map{|d| ["#{d.name} (#{d.mac})", d.id]}, selected: @device.try(:id), label: _('Device'), skip_label: true, wrapper: {class: 'col-12'}), include_blank: _('All Devices'), class: portal_form_select_classes ) %>
          <% end # f.form_group %>
      </fieldset>
      <fieldset>
        <legend><%= _('Specify a custom range') %></legend>
        <%= f.fields_for(@dialog_graph_time) do |f| %>
          <%= f.form_group(class: 'row') do %>
            <%= f.text_field :past_time, {size: 3, label: _('Past'), label_as_placeholder: true, class: portal_form_input_classes, wrapper: {class: 'col-6'}} %>
            <%= f.collection_select :past_time_unit, GraphTime::PAST_TIME_UNITS.reject {|k,v| %w( years seconds ).include?(v) }, :last, :first, {label: _('Past Time Units'), skip_label: true, wrapper: {class: 'col-6'}}, { class: portal_form_select_classes } %>
          <% end # f.form_group %>
          <p class="text-center my-0">or</p>
          <%= f.form_group(class: 'row') do %>
            <%= f.collection_select :range_time, GraphTime::RANGE_TIMES, :last, :first, {label:  _("Range"), include_blank: '   --', wrapper: {class: 'col-12'}}, {class: portal_form_select_classes} %>
          <% end # f.form_group %>
        <% end # f.fields_for %>
      </fieldset>
    <% end # modal_body %>
    <%= modal_footer do %>
      <%= button(_('Reset'), url: { action: :usage }, context: :danger) %>
      <%= f.submit(_('Update'), { class: portal_submit_classes(large: false), data: {disable_with: _('Please Wait...')}}) %>
    <% end # modal_footer %>
  <% end # modal %>
<% end # bootstrap_form_tag %>
