<%= instruments_dialog(type: dialog[:color], dialog_id: "#{dialog[:name]}_dialog") do %>
  <%= render_portal_partial(dialog_partial_path("dialog_color_reason"), locals: { dialog: dialog }) %>
  <% if dialog[:title] %>
    <h4><%= dialog[:title] %></h4>
  <% end # if dialog[:title] %>
  <% dialog_id = [dialog[:name], dialog[:widget_id]].join('_') %>
  <%= table(dark: @dark_mode, small: true, class:"w-100", id: dialog_id) do %>
    <%= table_header do %>
      <%= table_row do %>
        <% dialog[:progress_bars][:headers].each do |th| %>
          <%= table_header do %>
            <%= th %>
          <% end # table_header  %>
        <% end %>
      <% end # table_row %>
    <% end # table_header  %>
    <%= table_body(id: dialog_id) do %>
      <%= render_portal_partial(dialog_partial_path("progress_bars"), locals: { bars: dialog[:progress_bars][:bars] }) %>
    <% end # table_body %>
    <%= render_portal_partial(dialog_partial_path("dialog_footer"), locals: { dialog: dialog }) %>
  <% end # table %>
<% end # instruments_dialog %>
 