<%
  title ||= _('Log in')
  hide_title ||= false
  create ||= false
%>
<%= bootstrap_form_tag(url: {action: :account_login}, id: 'account_login') do |f| %>
  <fieldset class="d-flex flex-column h-100">
    <!--
    <div class="d-flex justify-content-between align-items-center">
      <legend class="<%= 'visually-hidden' if hide_title %>" style="width: auto;"><%= title %></legend>
      <%# if create %>
        <span>
          <%#= (_('or %{link}') % { link: link_to(_('Create an account'), action: :quick_purchase) }).html_safe %>
        </span>
      <%# end # if create %>
    </div>
    -->
    <div class="row">
      <div class="col-12 col-md-5 col-lg-4 me-md-5">
        <%= f.text_field(:login, {value: params[:login], label: _('Cox user ID'), label_as_placeholder: false, class: "form-control bg-transparent", autocomplete: :username, autocorrect: :off, autocapitalize: :off}) %>
      </div>
      <div class="col-12 col-md-5 col-lg-4">
        <%= f.password_field(:password, {label: _('Cox Password'), label_as_placeholder: false, class: "form-control bg-transparent", autocomplete: 'current-password', autocorrect: :off, autocapitalize: :off}) %>
      </div>
    </div>
    <%# if @captive_portal.try(:allow_password_reset?) %>
      <%#= card_link({action: :forgot_password}, class: 'text-end mx-auto my-3 d-block text-primary' ) do %>
        <%#= _('Forgot password?') %>
      <%# end %>
    <%# end %>
    <p>
      By signing in, you agree to the
      <%= link_to(
        "WiFi Terms of Service",
        "#terms-modal",
        class: "no-underline",
        data: { bs_toggle: "modal" },
      ) %>
      and related agreements.
    </p>
    <div class="d-flex justify-content-center">
      <%= f.submit(_('Sign In'), data: { disable_with: _('Please wait...') }) %>
    </div>
    <div>
      <p class="mt-3">Forgot your Cox User ID or Password?</p>
      <p><%= link_to("Click here if you're a Residentail customer", "#", class: "no-underline") %></p>
      <p><%= link_to("Click here if you're a Business customer", "#", class: "no-underline") %></p>
      <p style="font-weight: bold">For assistance please call: 877-269-2778</p>
    </div>
  </fieldset>
<% end # bootstrap_form_tag %>
