<%
  this_node = FleetNode.find_by(this_node: true, manager: false)
  this_property = this_node.try(:pms_properties).to_a.first
  data = @usage_plans.collect { |usage_plan| {
      'data-direct' => usage_plan.direct_merchant.present?,
      'data-offsite' => usage_plan.offsite_merchant.present?,
      'data-pms' => usage_plan.pms_server.present?,
      'data-manual-ar' => usage_plan.manual_ar?,
      'data-free' => usage_plan.price_free?,
      'data-stripe_token' => usage_plan.is_stripe?,
      'data-cybersource_token' => usage_plan.is_cybersource?,
      'data-token' => usage_plan.is_stripe? || usage_plan.is_cybersource?,
      'data-email_validation_supported' => usage_plan.requires_account_validation?(:email),
      'data-phone_validation_supported' => usage_plan.requires_account_validation?(:sms),
    }
  }
%>
<%= bootstrap_form_tag(url: {action: :shared_credential_login}, id: 'shared_credential_login_free') do |f| %>
  <%= f.hidden_field(:credential, value: nil) %>
  <fieldset class="d-flex flex-column h-100">
    <legend id="free-trial-title">Free Trial</legend>
    <p class="branded-cox">
      Enter your email in the box below, accept the WiFi Service Terms and click "Submit" to begin your free trial.
    </p>
    <p class="branded-su" style="display: none">
      The StraightUp Internet hotspot pass can only be used on 1 device at a time. Please keep your access code if
      you want to use it on a different device.
    </p>
    <div class="branded-su" style="display: none">
      <%= f.fields_for :usage_plan do |f| %>
        <% plan_options = @usage_plans.map.with_index do |up, index| %>
          <% [ "#{up.name} (#{up.price_display})", up.id, data[index] ] %>
        <% end %>
        <%= f.collection_radio_buttons(nil, plan_options, :second, :first) do |b| %>
          <%= b.radio_button %>
          <%= b.radio_button %>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex">
      <%= portal_image_tag("star.png", class: "my-auto me-3 asterisk") %>
      <p class="me-3 me-md-5 my-auto" style="font-size: 1.25rem">Your email:</p>
      <div class="col-7 col-md-8 col-lg-6 mt-3">
        <%= f.text_field(:email, {label: _('Enter Email'), label_as_placeholder: true, required: true, class: "py-3 my-auto form-control bg-transparent", title: _('email')}) %>
      </div>
    </div>
    <div class="ms-4 branded-su">
      <p>Please provide a valid email address for receipt confirmation and general business purposes.</p>
      <hr class="br">
        <h4 class="my-4">Payment Summary: <span id="selected-price"></span></h4>
      <hr class="br">
    </div>
    <hr class="br">
    <%= render_portal_partial('terms_checkbox', locals: { f: f}) %>
    <%= render_portal_partial('terms_checkbox', locals: { f: f, alt: ['our <a href="#">Privacy Notice</a>, ',' and <a href="#">Acceptable Use Policy</a>'] }) %>
    <div class="d-flex justify-content-between px-5 mt-4">
      <%= link_to("Cancel", "#", class: "mt-auto d-block btn btn-access back-to-central" ) %>
      <%= f.submit(_('Submit'), class: "mt-auto d-block btn btn-access pending", data: { disable_with: _('Please wait...') }) %>
    </div>
    <div class="d-flex justify-content-end mt-2">
      <%= link_to("Avoid frequent logins?", "#", class: "no-underline branded-su", style: "display: none")%>
    </div>
    <p class="branded-su mb-0 mt-2" style="display: none">Need help? Text PREPAIDWIFI to 36009 for assistance.</p>
  </fieldset>
<% end %>

<script>
  $('input[type=radio]').on('change', function(){
    $('#selected-price').text(
      // Update price display with value inside parenthesis.
      $('input[type=radio]:checked').next().text().match(/\((.*?)\)/)[1]
    )
  })
  $('input[type=radio]:eq(0)').click() // Default to first option selected.
</script>