<%= bootstrap_form_tag(url: {action: :shared_credential_login}, id: 'shared_credential_login') do |f| %>
  <fieldset class="d-flex flex-column h-100">
    <legend id="passcode-title"><%= title %></legend>
    <p>
      Enter
      <span class="branded-cox">your promo code</span>
      <span class="branded-su" style="display: none">StraightUp Internet hotspot passcode</span>
      in the box below, accept the WiFi Service Terms and click "Submit" to connect to Cox WiFi.
    </p>
    <div class="d-flex">
      <%= portal_image_tag("star.png", class: "my-auto me-3 asterisk") %>
      <p class="me-3 me-md-5 my-auto" style="font-size: 1.25rem">Promo Code:</p>
      <div class="col-7 col-md-8 col-lg-6 mt-3">
        <%= f.password_field(:credential, {label: _('Enter Code'), label_as_placeholder: true, class: "py-3 my-auto form-control bg-transparent", title: _('code')}) %>
      </div>
    </div>
    <hr class="br">
    <%= render_portal_partial('terms_checkbox', locals: { f: f, keep: true }) %>
    <div class="d-flex justify-content-between px-5 mt-4">
      <%= link_to("Cancel", "#", class: "mt-auto d-block btn btn-access back-to-central" ) %>
      <%= f.submit(_('Submit'), class: "mt-auto d-block btn btn-access pending", data: { disable_with: _('Please wait...') }) %>
    </div>
    <div class="d-flex justify-content-end mt-2">
      <%= link_to("Avoid frequent logins?", "#", class: "no-underline branded-su", style: "display: none")%>
    </div>
    <p class="branded-su mb-0 mt-2" style="display: none">Need help? Text PREPAIDWIFI to 36009 for assistance.</p>
  </fieldset>
<% end %>
