<div class="row h-100 align-items-center justify-content-center mb-3">
  <div class="col-12 col-md-6 col-lg-4">
    <%= card(class: [portal_card_classes, 'text-center', 'px-3 py-2']) do %>
      <%= card_body do %>
        <%= card_title do %>
          <h2 class="text-warning fas fa-exclamation-triangle"></h2>
        <% end # card_title %>
        <%= card_text(class: 'h4') do %>
          <%= _('You have no online usage available and will not be able to access the internet.') %>
        <% end # card_text %>
        <%= card_link({action: :usage_plan_list}, _('purchase more usage'), class: 'h4') %>
      <% end # card_body %>
    <% end # card %>
  </div>
</div>