<%= bootstrap_form_tag(url: {action: :reset_password}, id: 'reset_password') do |f| %>
  <%= f.hidden_field(:login, value: @account.login) %>
  <fieldset>
    <legend><%= @account.login %></legend>
    <div class="mb-3 col-12">
      <span><%= @secret_question.question %></span>
    </div>
      <%= f.text_field(:secret_answer, {value: params[:secret_answer], label: _('Enter Answer'), label_as_placeholder: true, required: true, class: portal_form_input_classes}) %>

      <%= f.password_field(:password, label: _('Password'), label_as_placeholder: true, class: portal_form_input_classes, required: true, minlength: 2, maxlength: 40, autocomplete: 'new-password', autocorrect: :off) %>

       <%= f.password_field(:password_confirmation, label: _('Confirmation'), label_as_placeholder: true, class: portal_form_input_classes, required: true, minlength: 2, maxlength: 40, autocomplete: 'new-password', autocorrect: :off) %>

      <%= f.submit(_('Reset Password'), class: portal_login_submit_classes, data: { disable_with: _('Please wait') }) %>
  </fieldset>
<% end %>
