<%= bootstrap_form_tag(url: {action: :reset_password}, id: 'reset_password_sms') do |f| %>
  <%= hidden_field_tag 'login', @account.login %>
  <fieldset>
    <legend style="col-12 text-center text-transform: lowercase;"><%= @account.login %></legend>
      <p>
        <%
          sms_present = @captive_portal.password_reset_method =~ /sms/ && @account.phone_validation_code.present?
          email_present = @captive_portal.password_reset_method =~ /email/ && @account.email_validation_code.present?
          and_present = @captive_portal.password_reset_method =~ /and|or/
        %>
        <% if sms_present %>
          <% if and_present && email_present %>
            <%= _('A verification code was sent to you by SMS and Email.') %>
          <% else %>
            <%= _('A verification code was sent to you by SMS.') %>
          <% end %>
        <% elsif email_present %>
          <%= _('A verification code was sent to you by Email.') %>
        <% end %>
        <% if sms_present || email_present %>
          <%= _('Please enter it below to complete your password reset.') %>
        <% end %>
      </p>
      <%= f.text_field(:validation_code, {value: params[:validation_code], placeholder: _('Enter code'), class: portal_form_input_classes, required: true, autocomplete: 'one-time-code'}) %>

      <%= f.password_field(:password, label: _('Password'), label_as_placeholder: true, class: portal_form_input_classes, required: true, minlength: 2, maxlength: 40, autocomplete: 'new-password', autocorrect: :off) %>

       <%= f.password_field(:password_confirmation, label: _('Confirmation'), label_as_placeholder: true, class: portal_form_input_classes, required: true, minlength: 2, maxlength: 40, autocomplete: 'new-password', autocorrect: :off) %>

      <%= f.submit(_('Reset'), class: portal_login_submit_classes, data: { disable_with: _('Please wait...') }) %>
  </fieldset>
<% end %>
