<div class='col-12 col-md-6 col-xl-4 p-md-2'>
  <div class="card shadow my-3 my-md-4 col-12 mx-auto session-info">
    <div class="col-12">
      <div class="row">
        <div class="card shadow summary col-12 p-0" style="background-color: #0e97ed; margin-top: -20px;">
          <%= link_to( {action: :manage_devices} ) do %>
            <div class="d-flex flex-row mb-2">
              <div class="col-12 text-white">
                <% dialog = get_dialog_data(:device_session_summary) %>
                <%= render_portal_partial dialog_partial_path("progress_bars"),
                    locals: { bars: dialog[:progress_bars][:bars] } %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-12">
          <p class="rg-branding-primary mt-3"><b><%= _('Online Devices & Sessions') %></b></p>
          <% if @current_account_or_token.unlimited_devices %>
            <p style="color: #bbb;">
              <%= _('You are using %{count} of unlimited devices.' ) % { count: @current_account_or_token.devices.count } %>
            </p>
          <% else %>
            <%
              count = @current_account_or_token.devices.count
              max = @current_account_or_token.max_devices
            %>
            <p style="color: #bbb;">
              <%= n_('You are using %{count} of %{max} device', 'You are using %{count} of %{max} devices', count) % {count: count, max: max} %>
            </p>
          <% end %>
        </div>
      </div>
      <div class="col-12 d-none">
        <% if @current_account_or_token.devices.portal_visible.where(binat: true).exists? %>
          <p class="text-center">
            <% binats = @current_account_or_token.devices.portal_visible.where(binat: true) %>
            <strong><%= pluralize(binats.count, _('Active DMZ Host')) %></strong><br>
            <% binats.each do |binat_device| %>
              <strong style="margin-left: 10px;"><%= binat_device.display_name %></strong>
            <% end %>
          </p>
        <% end %>
        <% if @current_account_or_token.device_port_forwards.where.not(device: nil).exists? %>
          <p class="text-center">
            <% dpfs = @current_account_or_token.device_port_forwards.where.not(device: nil) %>
            <strong><%= pluralize(dpfs.count, _('Active Port Forwards')) %>:</strong><br>
            <% dpfs.each do |dpf| %>
              <strong style="margin-left: 10px;"><%= dpf.device.display_name %></strong> [<%= dpf.external_ports %>]<br>
            <% end %>
          </p>
        <% end %>
      </div>
      <div class="col-12">
        <%= link_to _('Manage Devices'), {action: :manage_devices}, {class: 'd-block mx-auto col-6 text-center visually-hidden', data: { disable_with: _('Please wait...') } } %>
      </div>
      <hr class="col-9 mx-auto">
      <p class="card-info"><%= _('Max sessions:') %> <%= @current_account_or_token.max_sessions %></p>
    </div>
  </div>
</div>
